<div class="formulario_config">
    <div class="form-body">
      <form action="">
        <div class="mb-2">
          <label class="form-label">
            Nombre:
          </label>
  
          <input type="text" class="form-control" placeholder="Ingresa un nombre">
        </div>
  
        <div>
          <label for="form-label">
            Contraseña:
          </label>
  
          <input type="text" class="form-control" placeholder=" Ingresa una contraseña">
  
  
        </div>
      </form>
      <button class="btn btn-primary">
        Enviar
      </button>
    </div>
  </div>
  